<div id="card" [ngStyle]="{
    'background-color': allTripsInCard >= 10 ? 'green' : 'red'}">
    Obecnie zarezerwowano: {{allTripsInCard}}
</div>
<div id="show-card" (click)="showCard()">
    <span class="material-symbols-outlined">
        shopping_cart
    </span>
</div>
<section id="in-card" *ngIf="cardVis">
    <app-card [trips]="trips"></app-card>
</section>
<div id="filter-vis" (click)="addVisFilter()">Filtruj</div>
<section id="filter" *ngIf="filterVis">
    <div class="filter-value" id="country">
        <h4>Kraj: </h4>
        <input type="text" [(ngModel)]="dest">
    </div>
    <div class="filter-value" id="price">
        <h4>Cena: </h4>
        <p>Od: </p>
        <input type="number" [(ngModel)]="minPrice" [min]="getMinPrice()" [max]="getMaxPrice()">
        <p>Do: </p>
        <input type="number" [(ngModel)]="maxPrice" [min]="getMinPrice()" [max]="getMaxPrice()">
    </div>
    <div class="filter-value" id="date">
        <h4>Data: </h4>
        <p>Od: </p>
        <input type="date" [(ngModel)]="startDate">
        <p>Do: </p>
        <input type="date" [(ngModel)]="endDate">
    </div>
    <div class="filter-value" id="likes">
        <h4>Ocena: </h4>
        <p>Min ilość pozytywnych: </p>
        <input type="text" [(ngModel)]="likes">
        <p>Max ilosc negatywnych: </p>
        <input type="text" [(ngModel)]="dislikes">
    </div>
</section>
<main>
    <div *ngFor="let trip of trips | searchTrips : dest | searchByPrice : minPrice : maxPrice | searchByOpinions : likes : dislikes | searchByDate : startDate : endDate" class="trips-list" 
    [ngClass] = "{'least-expensive': trip.Price == getMinPrice(),
        'most-expensive': trip.Price == getMaxPrice(),
        'low-ammount': trip.MaxPeople - trip.Reserved <= 3 && trip.MaxPeople - trip.Reserved > 0,
        'out-of-stock': trip.MaxPeople - trip.Reserved == 0}">
        <img src="{{trip.Photo}}">
        <h1>Nazwa: {{trip.Name | uppercase}}</h1>
        <p>Cel podróży: {{trip.Destination | uppercase}}</p>
        <p>Wyjazd: {{trip.StartDate | date:'d MMMM y'}}</p>
        <p>Powrót: {{trip.EndDate | date:'d MMMM y'}}</p>
        <p>Cena: {{trip.Price | currency:'PLN':'symbol-narrow'}}</p>
        <p>Dodaj swoją reakcję:</p>
        <app-triprate (ratingChanged)="ratingEventHandler(trip, $event)" [tripLikes]="trip.Likes" [tripDislikes]="trip.Dislikes"></app-triprate>
        <p>
        Ilość dostępnych miejsc: {{trip.MaxPeople - trip.Reserved}}</p>
        <div class="reservations">
            <p>Zarezerwowano:</p>
            <div class="ammount">
                <span  *ngIf="trip.Reserved > 0" class="minus" (click)="removeClick(trip)">-</span>
                {{trip.Reserved}}
                <span *ngIf="trip.Reserved < trip.MaxPeople" class="plus" (click)="addClick(trip)">+</span>
            </div>
            
        </div>
        
        <p>Opis: {{trip.Description}}</p>
        <div class="remove-trip" (click)="reset(trip)" (click)="removeTrip(trip)">X</div>
    </div>
</main>
<div id="addTrip" (click)="visAddForm()">
    Formularz dodawania wycieczek
</div>
<app-tripadd *ngIf="formAddVisibility" (reset)="formResetEvent($event)" (formSubmitEvent)="formSubmitEventHandler($event)"></app-tripadd>
