#card{
    width: 110px;
    height: 50px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    z-index: 1;
}
#show-card{
    cursor: pointer;
    background-color: aquamarine;
    width: 30px;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    position: absolute;
    top: 10px;
    right: 10px;
}
.filter-value{
    display: flex;
    align-items: center;
    column-gap: 2vw;
}
input{
    height: 20px;
}
main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-around;
}

.trips-list{
    border: 2px solid black;
    border-radius: 5px;
    width: 400px;
    position: relative;
}

img{
    text-align: center;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    clip-path: circle(50%);
    clip: auto;
    object-fit: cover;
}

.least-expensive{
    border-color:red;
}

.most-expensive{
    border-color:rgb(10, 241, 10);
}

.reservations{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    border: 1px solid black;
}

.ammount{
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    align-items: center;
}

.minus, .plus{
    cursor: pointer;
}

.low-ammount{
    background-color: orange;
    font-weight: bold;
}

.out-of-stock{
    background-color: rgb(187, 7, 7);
    font-weight: bold;
    color: white;
}

.remove-trip{
    width: 8%;
    text-align: center;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50%;
    
}

#addTrip, #filter-vis{
    cursor: pointer;
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
#filter-vis{
    width: 70px;
    margin-bottom: 30px;
}

#filter{
    background-color: bisque;
    padding: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    margin-bottom: 30px;
}

#addTrip{
    margin-top: 40px;
    width: 25%;
}

@media only screen and (max-width:1000px) {
    #card{
        position: static;
    }
}

@media only screen and (max-width:750px) {
    .filter-value{
        flex-direction: column;
    }
}