#big{
    height: 300px;
    width: 300px;
    background-color: lightblue;
    margin: 0 auto;
}
#med{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    top: 0px;
    left: 50px;
}
#small{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;
    top: 0px;
    left: 50px;
}
#big:hover, #med:hover, #small:hover{
    cursor: pointer;
}
p{
    text-align: center;
}
div p{
    font-size: 2em;
}
.buttons{
    margin-left: 42%;
    margin-top: 1%;
    margin-bottom: 2%;
}

h3{
    position: absolute;
    top: 0px;
    left: 0px;
}

ol{
    position: absolute;
    top: 40px;
    left: 0px;
}

@media only screen and (max-width: 800px){
    h3{
        top: 420px;
        left: 40%;
    }
    ol{
        top: 460px;
        left: 40%;
    }
}