<main>
    <section>
        <h1>Wybierz markę: </h1>
        <select [(ngModel)]="selectedCompany" (ngModelChange)="chosenCompany()">
              <option disabled selected></option>
              <option *ngFor="let company of data | keyvalue">
                  {{ company.key }}
              </option>
        </select>
    </section>
    <section *ngIf="showModels">    
        <h3>Wybierz model samochodu:</h3>
        <select [(ngModel)]="selectedModel" (ngModelChange)="chosenModel()">
            <option disabled selected></option>
            <option *ngFor="let model of data[selectedCompany] | keyvalue">
              {{ model.key }}
            </option>
        </select>
    </section>
    <section *ngIf="showColors">
        <h3>Wybierz kolor samochodu:</h3>
        <div id="colorBox">
          <div *ngFor="let color of colorChoose" [ngStyle]="{'background-color': color}" class="colors" (click)="chosenColor(color)">
          </div>
        </div>
    </section>
    <section *ngIf="showCar">
        <h2>Twój wybór to:</h2>
        <p>{{ selectedCompany + " " + selectedModel + " " + selectedColor}}</p>
        <p>{{data[selectedCompany][selectedModel].desc}}</p>
    </section>
</main>
