.passwordWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    row-gap: 10px;
}
.passwordWrapper input {
    flex-basis: 100%;
    margin: 10px 0;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
.validity-check{
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 100%;
}
.password-input{
    display: flex;
    align-items: center;
}
button, span{
    cursor: pointer;
}
.visibility-on, .visibility-off{
    position: absolute;
    left: 150px;
}
.password-input .visibility-off{
    display: none;
}