<nav>
    <a routerLink=""><span class="material-symbols-outlined">home</span></a>
    <a routerLink="/trips">Lista wycieczek</a>
    <a routerLink="/add-trip">Dodaj wycieczkę</a>
    <a routerLink="/card">Koszyk</a>
    <a routerLink="/history">Zakupione wycieczki</a>
    <div><span class="show-more" (click)="switchView()">More Info</span></div>
    <section *ngIf="view" class="more">
        <div>
            <p>Witaj: (Imię Nazwisko klienta)</p>
        </div>
        <div id="nums">
            <p>Zarezerwowano: {{getNumOfReserved()}}</p>
            <p>Suma: {{getSum() | currency:'PLN':'symbol-narrow'}}</p>
        </div>
        <div>
            <p>Nadchodzące wycieczki: {{fTripsNum}}</p>
        </div>
    </section>
</nav>