main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 5px;
}
.item{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    border: 1px solid gray;
    column-gap: 10px;
}
#filters, #filter-vis{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    margin-bottom: 50px;
    padding: 10px;
}
#filter-vis{
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
    width: 70px;
}
#filters{
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
    width: 200px;
}